html {
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
    height: 100%;
    
}
@font-face{
    font-family: "Helvetica-Bold";
    src: url('../fonts/HelveticaBold.woff2') format("woff"),
         url('../fonts/HelveticaBold.woff') format("woff");
    font-display: swap;
}
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-delay: 1s;
  }
a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: all .3s;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.container{
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 15px;
    // position: relative;
}
body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    color: #000;
    font-size: 16px;
}
.header-top{
     display: flex;
     justify-content: space-between;
    background-color: transparent;
     height: 80px;
     align-items: center;
    //  padding: 0 30px;
     top: 0;
     width: 100%;
    // z-index: 200;
    transition: all .5s;
    padding: 10px 40px;
}
.headhesive{
    background: transparent;
    position: fixed;
    width: 100%;
    transform: translateY(-100%);
    transition: all .5s;
    left: 0;
    right:0;
    padding: 10px 40px;
}
.headhesive--stick{
    transform: translateY(0);
    background-color: #fff;
    z-index: 100;
    transition: all .3s;
    padding: 10px 40px;
    box-shadow: 2px 12px 32px rgba(6,13,42,.06);
    .menu__list-item a {
        color: #000;
    }
    .logo__link{
        color: #000;
        &-text::before{
            background-color: #000;
        }
    }
}
.logo__link{
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 600;
        font-size: 26px;
        width: 300px;
        justify-content: space-between;
        margin: 10px;
        &-text{
            margin-left: 20px;
            font-family: "Helvetica-Bold";
            font-style: italic;
            position: relative;
            & span{
                text-transform: uppercase;
            }
            &::before{
                content: '';
                position: absolute;
                background-color: #fff;
                width: 1px;
                height: 100%;
                left: -10px;
            }
        }
    }
.logo__link-img{
    width: 70px;
    
}
.menu__list{
    display: flex;
& li + li {
    padding-left: 50px;
}
}
.menu__list-item a{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 5px;
    &::before {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: -100%;
        width: 100%;
        height: 4px;
        background: #140308;
        transition: 0.5s;
      }
      &:hover {
        color: #fff;
        &::before {
            animation: animate .5s linear forwards; 
          }
      }
}
.menu ul li a.active{
    font-weight: 700;
    &::after{
      content: '';
      bottom: -5px;
      height: 2px;
      width: 100%;
      display: block;
      border-top: 1px solid #ff2e64; 
    };
}
@keyframes animate {
    0% {
      top: calc(50% - 2px);
      left: -100%;
      height: 4px;
      z-index: 1;
    }
    50% {
      top: calc(50% - 2px);
      left: 0;
      height: 4px;
      z-index: 1;
    }
    100% {
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
  }
.fullscreen{
    overflow: hidden;
    // z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
}
 
 .video {
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
 }
 .header {
    background: rgba(0,0,0,-0.4);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 100;
 }
.social-icons {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    z-index: 100;
    & li{
        display: inline-block;
    }
}
 .social-icons a {
    display: block;
    width: 32px;
    height: 32px;
    background-size: cover;
    opacity: .6;
    transition: .3s;
}
.icon-rupor svg{
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.3;
}
h1{
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 100px;
    margin-bottom: 60px;
    
    &::after{
        content: "";
    display: block;
    width: 90px;
    max-width: 100%;
    border-top: 1px solid #ff2e64;
    margin: 20px auto;
    }
}
.title-box{
    position: relative;
    margin-top: 60px;
}
.back-title{
    color: #F4F4F4;
    font-weight: bold;
    font-size: 85px;
    top: -45px;
    letter-spacing: 8px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    z-index: -1;
    width: 100%;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    &__item{
        width: 30%;
        flex-basis: calc(33.3333% - 30px);
        margin: 10px;
    }
}
.services{
    display: flex;
    flex-wrap: wrap;
    margin: 60px 200px;
}
.service-item{
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 70px;
    margin-top: 20px;
    flex-basis: calc(33.3333% - 30px);
    &:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    } 
    & img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 130px;
        padding-bottom: 15px;
    }
    &::hover{
        background-color: yellow;
    }
}
.service-text{
    text-align: center;
}
.about{
    padding: 40px 40px;
    line-height: 1.5;
    font-size: 20px;
    & p{
        margin-top: 20px;   
    }
    & li{
     position: relative;
     padding-left: 20px;   
    &::before{
content: '';
position: absolute;
left: 5px;
background-color: #ff2e64;
width: 4px;
height: 4px;
top: 14px;
    }
}
}
.contact__info{
    display: flex;
    justify-content: center;
    padding: 10px 30px 60px;
}
.contact__info-item{
    padding: 40px 45px 30px;
    &.contact{
        width: 100%;
        background: #f7f8f9;
        max-width: 700px;
    }
}
.contact__info-address,
.contact__info-personal{
    border-bottom: 1px solid rgba(6,13,42,.06);
    padding-bottom: 20px;
    & p{
        padding: 15px 5px;
    }
    & a{
        color: #ff2e64;
    text-decoration: underline;
    cursor: pointer;
    }
}
.contact__info-links{
    margin: 40px 5px 30px;
    display: flex;
    justify-content: center;
    & svg{
        fill: #fff;
    }
    & div + div{
        padding-left: 30px;
    }
}
.contact__form input {
    border: none;
    height: 43px;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
    display: block;
    border-bottom: 1px solid rgba(6,13,42,.06);
}
textarea {
    padding: 15px;
    border: none;
    width: 100%;
    height: 190px;
    display: block;
    resize: none;
    margin-bottom: 23px;
    border: 1px solid rgba(6,13,42,.06)
}
button{
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    padding: 0 40px;
    line-height: 53px;
    font-size: 18px;
    background-color: transparent;
    color: #ff2e64;
    border: 1px solid #ff2e64;
    transition: .25s ease-in-out;
    transition-property: color,background-color,background-position,border-color,box-shadow;
    &:hover{
        background-color: transparent;
    color: #fff;
    border-color: #ff2e64;
    background-image: linear-gradient(90deg,#ff2e64 50%,transparent 50%);
    }
}
.footer{
    background: #060d2a;
    background-image: linear-gradient(155deg,#000000 0,#03081d 50%,#5f5d5f 100%);
    display: flex;
        justify-content: space-between;
        color: #fff;
        align-items: center;
        padding: 40px;
    &__inner, .footer__copy{
        padding: 10px 30px;
        &-phone a{
            font-size: 20px;
            color: #fff;
            padding: 20px 0;
        }
        &-mail a{
            font-size: 16px;
            color: #fff;
            text-decoration: underline;
        }
    }
}
.footer__copy{
opacity: 0.45;
& span{
    font-weight: 800;
    opacity: 1;
}
}